<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg rounded" aria-label="Eleventh navbar example">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="/common/image/logo2.png" alt="로고이미지"/></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLogo" aria-controls="navLogo" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse navbar-light show home_logo" id="navLogo" style="">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/api/view/notice/listPage">공지사항</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/api/view/map/page">오시는길</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/api/view/reservation/listPage">예약하기</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/api/user/reservation/list">내 예약조회</a>
                            </li>
                            <li sec:authorize="hasRole('ANONYMOUS')" class="nav-item">
                                <a class="nav-link" href="/api/login">로그인</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/api/user/admin/page">관리자</a>
                            </li>
                            <!--<li sec:authorize="hasRole('ADMIN')" class="nav-item">
                                <a class="nav-link" href="/api/user/admin/page">관리자</a>
                            </li>-->
                            <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                                <a class="nav-link" href="/api/user/logout">로그아웃</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</html>
