<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>쇼핑몰 개발</title>
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
        <link rel="stylesheet" href="/common/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="/common/common/common.css"/>
        <link rel="stylesheet" href="/header/css/header.css"/>

        <script src="/common/jquery/jquery-3.6.1.min.js"></script>
        <script src="/common/bootstrap/bootstrap.js"></script>
        <script src="/common/bootstrap/bootstrap.bundle.js"></script>
        <script src="/common/common/common.js"></script>
    </head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <section>
            <div layout:fragment="content" class="container container-content"> </div>
        </section>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>