a.navbar-brand img {
    width: 70%;
}

@media (min-width: 992px) {
    .home_logo ul {
        position: relative;
        right: 4%
    }

    .home_logo ul li:first-child:nth-last-child(6),
    .home_logo ul li:first-child:nth-last-child(6) ~ li {
        padding-left: 5rem;
    }

    .home_logo ul li:first-child:nth-last-child(7),
    .home_logo ul li:first-child:nth-last-child(7) ~ li {
        padding-left: 3rem;
    }
}
