<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/common/layouts/layout.html}">
<head>
    <link rel="stylesheet" href="/notice/notice.css"/>
    <script>
        $(function () {
            //init
            init();

            function init() {
                noticeSearch("/api/view/notice/search");
            }

            //search.keyword
            $(".search").on("click", function () {
                noticeSearch("/api/view/notice/search");
            })

            $(".pagination").on("click", function (e) {
                if ($(e.target).hasClass("page-has")) {
                    if (!JSON.parse(e.target.dataset.has)) {
                        alert(e.target.dataset.msg);
                        return false;
                    } else {
                        noticeSearch("/api/view/notice/search", e.target.dataset.index);
                    }
                } else if($(e.target).hasClass("page-link")) {
                    noticeSearch("/api/view/notice/search", e.target.innerHTML);
                }
            })

            function noticeSearch(url, no) {
                $.ajax({
                    url: url,
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "keyword": $("#keyword").val(),
                        "pageNo": (no === undefined) ? 1 : no,
                    }),
                    async: false,
                    success: function (res) {
                        $(".table tbody").empty();
                        let data = res.data.data;
                        let html = "";
                        $.each(data, function (idx, content) {
                            html += `<tr><td class="title">${content.title}</td><td class="createBy">${content.createBy}</td><td class="updateDate">${content.updateDate}</td></tr>`;
                        })
                        $(".table tbody").append(html);

                        $(".pagination").empty();
                        $(".pagination").append(page(res.data.pageInfo))
                    },
                    error: function (res) {
                    }
                })
            }

            //search.detail
            $(".table .title").on("click", function (e) {
                let tag = e.target;
                if (tag.className === "title") {
                    location.href = "/api/view/notice/detail?title=" + enCrypto(tag.innerHTML);
                }
            })
        })
    </script>
</head>
<body>
    <div layout:fragment="content">
        <div class="input-group">
            <input type="search" id="keyword" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
            <button type="button" class="btn btn-outline-primary search">검색하기</button>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <nav>
            <ul class="pagination">
            </ul>
            <div sec:authorize="hasRole('ADMIN')" class="col-lg-12 col-sm-12 text-lg-end text-center">
                <a class="btn btn-success" href="/api/admin/notice/insert">글등록</a>
            </div>
        </nav>
    </div>
</body>
</html>
