/***************************** notice-common *****************************/
/*공지사항 내용*/
.form-control.notice_content {
    height: 450px;
}


/***************************** notice_list.html *****************************/
.table th, td {
    text-align: center;
}

/*공지사항 제목 클릭 효과*/
.table .title:hover {
    background: #dcdcdc;
}

/*공지사항 제목*/
.table .title {
    text-align: left;
    width: 300px;
    text-indent: 3%;
    cursor: pointer;
}

/*공지사항 작성자*/
.table .createBy {
    width: 100px;
    text-indent: 3%;
}

/*공지사항 수정일*/
.table .updateDate {
    text-align: center;
    width: 100px;
}


/***************************** notice_insert.html / notice_detail.html *****************************/
.detailDiv .table td {
    text-align: left;
}

.detailDiv .table th, td {
    padding-top: 15px !important;
}

.detailDiv .table tr:last-child > td{
    border: unset;
    padding: unset;
}

.detailDiv .table input{
    width: 100%;
    border: unset;
}

.detailDiv .table .notice_content {
    resize: unset;
    background-color: #ffffff !important;
    padding: 1.375rem;
    margin-top: 10px;
}

.detailDiv .modify, .delete{
    display: none;
}
