/*=======================달력=======================*/
/*달력컨테이너*/
.datepicker.datepicker-inline {
    width: 25%;
}

/*달력 선택 모드(일, 월, 년, 10년, 100년)*/
.datepicker-days, .datepicker-months, .datepicker-years, .datepicker-decades, .datepicker-centuries {
}

/*달력 테이블*/
.table-condensed {
    margin: 0 auto !important;
    width: 100%;
}

/*토 일 배경색 및 폰트 색*/
.datepicker table tr td.highlighted {
    background-color: #fff;
    color: red;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active,
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled] {
    background-color: black;
}

.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {
    background-image: unset;
}


/*=======================날짜선택=======================*/
/*날짜 선택 컨테이너*/
.dateDiv {
    height: 10%;
    width: 40%;
    margin-top: 5%;
}

.dateDiv > .reservation_in_div, .dateDiv > .reservation_out_div {
    width: 40%;
    height: 100%;
    float: left;
}

.dateDiv > .reservation_in_div > #in, .dateDiv > .reservation_out_div > #out {
    text-align: right;
    font-size: 1.5rem;
}


/*=======================예약목록=======================*/
.reservationDiv {
    border: 2px solid red;
    margin-top: 3%;
}
.possible:hover{
    background-color: lightgray;
    cursor: pointer;
}
.possible{
    border: 1px solid blue;
    width: 25%;
    display: inline-block;
    height: 150px;
}
